#Ignore output folder
/out

#Ignore 3rd-party libraries
/vendor/include
/vendor/lib_unix_dbg
/vendor/lib_unix_rel
/vendor/lib_win_dbg
/vendor/lib_win_rel

#Ignore resources folder
/Resource

#Ignore visual studio folders
/.vs

#Ignore clangd compile commands
compile_commands.json

#Ignore clang and clangd cache files
/.cache